<ul class="nav navbar-nav">
  <li id="navbar-profile"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalProfilePersonal">{{myProfile}}</a></li>
  <li id="navbar-createChatRoom"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalCreateChatRoom">{{create}}</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li id="navbar-login">
    <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalLogin">
      <span class="glyphicon glyphicon-log-in"></span> {{user}}
    </a>
  </li>
  <li id="navbar-register">
    <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalRegister">
      <span class="glyphicon glyphicon-log-in"></span> Logout
    </a>
  </li>
</ul>
