<!--Register moal-->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="modalRegister" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <form id="register-form">
                        <h4>Username</h4>
                        <input #usernameRegister id="usernameReg" name="username" type="text"/>
                        <h4>Password</h4>
                        <input #passwordRegister id="passwordReg" name="password" type="password"/>
                        <input class='cool-button' type='submit' value='Register' (click)="register(usernameRegister.value, passwordRegister.value)"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close-modalRegister" type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of register modal-->
