.message{
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.bordered-message{
  border: 10px solid transparent !important;
}

.vcenter {
  height: 100%;
}
