<!--modalProfileOthers modal-->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="modalProfileOthers" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">My Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="containerProfileImage">
                        <img class="profileImage" id="profileImageModal"
                             src="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg"
                             style="width: 100px; height: 100px;"/>
                    </div>

                    <dl id="modalProfileOthers-details">
                        <dt>Name</dt>
                        <dd>My user Name</dd>
                        <dt>Age</dt>
                        <dd>
                           Others age
                        </dd>
                        <dt>Gender</dt>
                        <dd>
                            Male or Female
                        </dd>

                        <dt>Desciption</dt>
                        <dd>
                            This is a sample Description of another profile.
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button id="closeModalProfileOthers" type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of profileModalOthers modal-->