<!--Login moal-->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="modalLogin" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content clearfix">
                <div class="modal-header mx-auto">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <h4>Username</h4>
                        <input #usernameLogin id="username" name="username" type="text" />
                        <h4>Password</h4>
                        <input #passwordLogin id="password" name="password" type="password" />
                        <input class='cool-button button btn-info' type='submit' value='Log In' (click)='login(usernameLogin.value, passwordLogin.value)'/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close-modalLogin" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of login modal-->
