<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ourApp}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbar-home" class="active"><a href="#">{{home}}</a></li>
        <li id="navbar-profile"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalProfilePersonal">{{myProfile}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="navbar-login">
          <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalLogin">
            <span class="glyphicon glyphicon-log-in"></span> {{login}}
          </a>
        </li>
        <li id="navbar-register">
          <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalRegister">
            <span class="glyphicon glyphicon-log-in"></span> {{register}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

