<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{test1}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="navbar-posts" class="active"><a href="#">{{test2}}</a></li>
        <li id="navbar-info"><a href="#">{{test3}}</a></li>
        <li id="navbar-upload"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalUpload">{{test4}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login-navbar"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalLogin"><span class="glyphicon glyphicon-log-in"></span> {{test5}} </a></li>
        <li id="register-navbar"><a href="#" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalRegister"><span class="glyphicon glyphicon-log-in"></span> {{test6}} </a></li>
      </ul>
    </div>
  </div>
</nav>

