<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/chatRoomsList">{{ourApp}}</a>
      <a class="navbar-brand" routerLink="/chat">Test</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <app-navbar-user-annonymous *ngIf="!user"></app-navbar-user-annonymous>
      <app-navbar-user-logged-in *ngIf="user" [user]="user" (userChange)="userChanged($event)"></app-navbar-user-logged-in>
    </div>
  </div>
</nav>

