<div class="chatRoomParticipants">

  <ul class="listWithParticipants">
    <li class="personInChatRoom">
      <div class="card">
        <a data-toggle="modal" href="#modalProfileOthers">
          <img src="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg" alt="John" class="img-circle">
        </a>
        <h5>John Doe</h5>
      </div>
    </li>
    <!--<li class="personInChatRoom">
     <div class="card">
        <a data-toggle="modal" href="#modalProfileOthers">
          <img src="{{profileImage}}" alt="{{profileName}}" class="img-circle">
        </a>
        <h5>{{profileName}}</h5>
      </div>
    </li>-->
  </ul>

</div>
