.container {
  margin: 0 auto;
  width: 100%;
  background: white;
  border-radius: 5px;
}

.people-list {
  width: 300px;
}
.people-list .search {
  padding: 20px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list ul {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.people-list ul li {
  list-style: none;
  padding-bottom: 10px;
  width: 100%;
}

.people-list img {
  float: left;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.people-list .status {
  color: gray;
}

.circle {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.statusText{
  display: inline-block;
}

.red {
  background: red;
}

.green {
  background: lime;
}

img {
  float: left;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen {
  
}
