.inputfile {
  width: 20px;
  height: 10px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 19px;
  font-weight: 700;
  color: black;
  background-color: white;
  display: inline-block;
  border: #2e2e2e solid 1px;
  border-radius: 3px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: grey;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.modal-body {

}
