<div class="panel panel-primary chat-box">
  <div class="panel-heading">
    <div class="clearfix"><span class="glyphicon glyphicon-comment"></span> Chat
      <app-leave-button></app-leave-button>
    </div>
  </div>
  <div class="panel-body">
    <ul class="chat" *ngIf="messages">

      <li *ngFor="let message of messages" class="left clearfix"><span class="chat-img pull-left">
                            <img
                              src="{{message.creator.profile_photo ? message.creator.profile_photo : 'http://placehold.it/50/55C1E7/fff&text=U'}}"
                              style="max-width: 50px;" alt="User Avatar" class="img-circle"/>
                        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font" *ngIf="!!message.creator.first_name || !!message.creator.family_name">{{message.creator.first_name}}
              {{message.creator.family_name}}</strong>
            <strong class="primary-font"
                    *ngIf="!message.creator.first_name && !message.creator.family_name">Unknown</strong>
            <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>{{message.date_posted | date:'medium'}}
            </small>
          </div>
          <p>
            {{message.content}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input id="btn-input" [(ngModel)]="content" type="text" class="form-control input-sm"
             placeholder="Type your message here..."/>
      <span class="input-group-btn">
        <button class="btn btn-success btn-sm button" id="btn-chat" type="button" (click)="submitText()">Send</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-info btn-sm button" id="btn-chatUpload">Upload</button>
      </span>
    </div>
  </div>
</div>
