<div class="container col-lg-12" id="cont">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 clearfix padded" *ngFor="let chatroom of chatrooms">
        <div class="card text-center">
          <div class="container" style="width: auto">
            <div class="">
              <div class="match">
                <h3 class="text-center"><b>{{chatroom.title}}</b></h3>
              </div>
              <div class="match clearfix">
                <h5 class="text-center">Participants: {{chatroom.participants}}/10</h5>
              </div>
              <div class="match clearfix">
                <h5 class="text-center">Admin: {{chatroom.admin.first_name}} {{chatroom.admin.family_name}}</h5>
              </div>
              <div class="match text-center">
                <app-join-enter-button [canEnter]="chatroom.can_enter" [chatroom_id]="chatroom.id"></app-join-enter-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
