.separator{
  margin-top: 55px;
}

/* You can add global styles to this file, and also import other style files */
.btn-default {
  display: inline-block;
  padding: 5px 25px;
  font-size:14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: none;
  max-height: 30px;
  position: inherit;
  align-items: right;
}


