/*Add css for app-navbar here*/

.button-active {
  color: #C3FF00;
  background-color: #535353;
}


#login-register input {
  width: calc(100% - 1em);
  border: 1px solid #d3d3d3;
  height: 2em;
  margin: 0.5em 0;
  font-size: 1em;
  padding: 0 0.5em;
  border-radius: 4px;
}

#uploadPostForm h4 {
  font-weight: 400;
}

#title-new-post {
  width: calc(90% - 1em);
  border: 1px solid #d3d3d3;
  height: 2em;
  margin: 0.5em 0;
  font-size: 1em;
  padding: 0 0.5em;
  border-radius: 4px;
}


#link-picture-new-post {
  border: none;
}

.cool-button {
  background-color: #303030;
  color: #C3FF00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  height: 2.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.votes-comment-buttons {
  max-width: 100%;
  min-width: 100%;
}

.open-comments-button, .like-button {
  min-width: 50%;
  background-color: aliceblue;
}


.btn.btn-info.btn-lg {
  background: #2e2e2e;
  border-color: #2e2e2e;
}


.profile-name {
  color: white;
  font-size: 28px;
}
